parameters:
    level: 8
    ignoreErrors:
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message.#'
        - '#Method App\\Validator\\Constraint\\[a-zA-Z0-9\\_]+::validate\(\) has parameter \$[a-zA-Z0-9\\_]+ with no type specified.#'
